* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

:root {
    --primary-color: rgb(0, 0, 22);
    --secondary-color: rgb(255, 255, 255);
    --main-color:rgb(255,0,0);
    animation: backgroundBack 1s ease forwards;
}

.light-mode{
    --primary-color: rgb(245, 245, 245);
    --secondary-color: rgb(0, 0, 0);
    --main-color:rgb(255, 0, 0);
    animation: backgroundChange 1s ease forwards;
}

body{
    background-color: var(--primary-color);
    color:var(--secondary-color);
    overflow-x: hidden;
    animation: backgroundBack 1s ease forwards;
  
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 7%;
    background-color: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo{
 font-size: 25px;
 color: var(--main-color);
 text-decoration: none;
 font-weight: 600;
 cursor: default;
 margin-right: auto;
 animation: slideRight 1s ease forwards;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    font-size: 18px;
    color: var(--main-color);
    text-decoration: none;
    font-weight: 500;
    margin-right: 35px;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.2s;
    position: relative;
}
.navbar ul li a {
    list-style: none;
    display: inline-block;
    position: relative;
    font-size: 18px;
    color: var(--main-color);
    text-decoration: none;
    font-weight: 500;
    margin-right: 0px;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.2s;
}

.navbar ul li a:hover{
    color:var(--secondary-color);
}

.navbar ul li::after{
    content: '';
    position: absolute;
    left: 0%;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: var(--main-color);
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}



.toggle{
    display: flex;

    margin-top: 1px;
    cursor:pointer;
   
}

.toggle .toggle-icon{
    font-size: 24px;
    color: var(--main-color);
}

.home{

    height: 100vh;
    width: 200%;
    display: flex;
    align-items: center;
    color: var(--main-color);
   
    
}

.home-content h1{
     animation: slideRight 1s ease forwards;
    animation-delay: 0.3s;
    position: absolute;
    left:40%;
    top: 10%;
    font-size: 50px;
    
}
.home-content p{
     animation: slideRight 1s ease forwards;
    animation-delay: 0.5s;
    
    font-size: 20px;
     position: absolute;
    left:43%;
    top: 20%;
}
.home-content h3{
        animation: slideRight 1s ease forwards;
    animation-delay: 0.5s;
    
    font-size: 30px;
     position: absolute;
    left:10%;
    top: 26%;
}
.web1{
     content: '';
    position: absolute;
    border-radius: 15px;
    
    box-shadow: 0 0px 10px rgb(0, 255, 0);
    left: 10%;
    bottom: 30%;
    width:20%;
    height: 40%;
    background: white;
    animation: slideTop 1s ease forwards ;
    
}
.img1{
    position: relative;
    width: 130%;
    height: 130%;
    left: -15%;
    top: -15%;
}
.home-content h4{
    position: absolute;
    color: var(--secondary-color);
    font-size: 30px;
    left: 11%;
    top: 75%;
    text-align: center;
    animation: slideTop 1s ease forwards ;
}

.web1 button{
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 10px 10px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    left: 10%;
    top :5%;
}

button:hover{
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.web2{
     content: '';
    position: absolute;
    border-radius: 180px;
    
    box-shadow: 0 0px 10px rgb(0, 106, 255);
    right: 10%;
    bottom: 30%;
    width:20%;
    height: 40%;
    background: white;
    animation: slideTop 1s ease forwards ;
    
}
.web2 img{

     position: relative;
    width: 120%;
    height: 120%;
    left: -10%;
    top: -10%;
}
.home-content h5{
    position: absolute;
    color: var(--secondary-color);
    font-size: 30px;
    right: 16%;
    top: 75%;
    text-align: center;
    animation: slideTop 1s ease forwards ;
}

.home-content button{
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 10px 10px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid var(--main-color);
    background: transparent;
    color: var(--secondary-color);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    left: 35px;
    bottom: -30px;
    animation: slideTop 1s ease forwards ;
}

button:hover{
    border: none;
    background-color: var(--main-color);
    color: var(--secondary-color);
}

@keyframes slideRight{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideLeft{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes backgroundChange{
    0%{
        background-color: rgb(0, 0, 22);
    }
    100%{
        background-color: var(--primary-color);
    }
}

@keyframes backgroundBack {
    0%{
        background-color: rgb(255, 255, 255);
    }
    100%{
        background-color: var(--primary-color);
    }
}

@keyframes slideTop{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}