* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

:root {
    --primary-color: rgb(0, 0, 22);
    --secondary-color: rgb(255, 255, 255);
    --main-color:rgb(255,0,0);
    animation: backgroundBack 1s ease forwards;
}

.light-mode{
    --primary-color: rgb(245, 245, 245);
    --secondary-color: rgb(0, 0, 0);
    --main-color:rgb(255, 0, 0);
    animation: backgroundChange 1s ease forwards;
}

body{
    background-color: var(--primary-color);
    color:var(--secondary-color);
    overflow-x: hidden;
    animation: backgroundBack 1s ease forwards;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 7%;
    background-color: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo{
 font-size: 25px;
 color: var(--main-color);
 text-decoration: none;
 font-weight: 600;
 cursor: default;
 margin-right: auto;
 animation: slideRight 1s ease forwards;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    font-size: 18px;
    color: var(--main-color);
    text-decoration: none;
    font-weight: 500;
    margin-right: 35px;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.2s;
    position: relative;
}
.navbar ul li a {
    list-style: none;
    display: inline-block;
    position: relative;
    font-size: 18px;
    color: var(--main-color);
    text-decoration: none;
    font-weight: 500;
    margin-right: 0px;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.2s;
}

.navbar ul li a:hover{
    color:var(--secondary-color);
}

.navbar ul li::after{
    content: '';
    position: absolute;
    left: 0%;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: var(--main-color);
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}



.toggle{
    display: flex;

    margin-top: 1px;
    cursor:pointer;
   
}

.toggle .toggle-icon{
    font-size: 24px;
    color: var(--main-color);
}

.home{

    height: 100vh;
    width: 200%;
    display: flex;
    align-items: center;
    color: var(--main-color);
   
    
}

.home-content h1{
     animation: slideRight 1s ease forwards;
    animation-delay: 0.3s;
    position: absolute;
    left:43%;
    top: 20%;
    font-size: 50px;
    
}
.home-content p{
     animation: slideRight 1s ease forwards;
    animation-delay: 0.5s;
    margin-left: -8%;
    font-size: 20px;
     position: absolute;
    left:50%;
    top: 30%;
}
.hobby1{
     content: '';
    position: absolute;
    border-radius: 20px;
    
    border: 3px solid azure;
    box-shadow: 0 0px 8px rgb(255, 0, 0);
    left: 3%;
    bottom: 10%;
    width: 18%;
    height: 50%;
    background: var(--main-color);
    animation: slideTop 1s ease;
}
.hobby1 img{
    position: relative;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 5%;
}
.hobby1 p{
    position: relative;
    color: var(--primary-color);
    font-size: 30px;
    left: 15%;
    top: 10%;
}
.hobby2{
     content: '';
    position: absolute;
    border-radius: 20px;
    
    border: 3px solid azure;
    box-shadow: 0 0px 8px rgb(255, 0, 0);
    left: 22%;
    bottom: 10%;
    width: 18%;
    height: 50%;
    background: var(--main-color);
   animation: slideTop 1s ease;
}

.hobby2 img{
    position: relative;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 5%;
}
.hobby2 p{
    position: relative;
    color: var(--primary-color);
    font-size: 30px;
    left: 10%;
    top: 10%;
}

.hobby3{
     content: '';
    position: absolute;
    border-radius: 20px;
    
    border: 3px solid azure;
    box-shadow: 0 0px 8px rgb(255, 0, 0);
    left: 41%;
    bottom: 10%;
    width: 18%;
    height: 50%;
    background: var(--main-color);
   animation: slideTop 1s ease;
}

.hobby3 img{
    position: relative;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 5%;
}
.hobby3 p{
    position: relative;
    color: var(--primary-color);
    font-size: 30px;
    left: 4%;
    top: 10%;
}

.hobby4{
     content: '';
    position: absolute;
    border-radius: 20px;
    
    border: 3px solid azure;
    box-shadow: 0 0px 8px rgb(255, 0, 0);
    left: 60%;
    bottom: 10%;
    width: 18%;
    height: 50%;
    background: var(--main-color);
    animation: slideTop 1s ease;
}

.hobby4 img{
    position: relative;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 5%;
}
.hobby4 p{
    position: relative;
    color: var(--primary-color);
    font-size: 30px;
    left: 29%;
    top: 10%;
}
.hobby5{
     content: '';
    position: absolute;
    border-radius: 20px;
    
    border: 3px solid azure;
    box-shadow: 0 0px 8px rgb(255, 0, 0);
    left: 79%;
    bottom: 10%;
    width: 18%;
    height: 50%;
    background: var(--main-color);
    animation: slideTop 1s ease;

}

.hobby5 img{
    position: relative;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 5%;
}
.hobby5 p{
    position: relative;
    color: var(--primary-color);
    font-size: 30px;
    left: 26%;
    top: 10%;
}


@keyframes slideRight{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideLeft{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes backgroundChange{
    0%{
        background-color: rgb(0, 0, 22);
    }
    100%{
        background-color: var(--primary-color);
    }
}

@keyframes backgroundBack {
    0%{
        background-color: rgb(255, 255, 255);
    }
    100%{
        background-color: var(--primary-color);
    }
}

@keyframes slideTop{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}